<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Training</a>
    <ul class="left hide-on-med-and-down">
      <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
        <a ui-sref="{{item.state}}">{{item.title}}</a>
      </li>
      <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
      <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
      <li ng-show="$ctrl.isLoggedIn()">
        <a ui-sref="settings">Hello {{ $ctrl.getCurrentUser().name }}</a>
      </li>
      <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
    </ul>

  </div>
</nav>