<div class="container">
      <h1 class="page-header">Training:</h1>
      
      <ul ng-repeat="chat in chatCtrl.chats" ng-if="{{false}}">
        <a class="waves-effect waves-light btn">{{chat.name}}<a type="button" class="waves-effect waves-light red btn" ng-click="chatCtrl.deleteChat(chat)">&times;</a></a>
      </ul>

<div class="card" style="padding: 28px">

  <ul ng-repeat="chat in chatCtrl.chats">

    <div style="display: flex" ng-class="{me:chat.name === chatCtrl.User.name}">
      <div class="card horizontal">
          <div class="card-image" style="width: 80px">
              <img class="gambar" src="http://lorempixel.com/100/190/nature/1">
              <p style="text-align: center;width: 80px">{{chat.name}}</p>
          </div>
      </div>

      <div class="card horizontal">
          <div class="card-content">
            <p>{{chat.message}}</p>
          </div>
      </div>

    </div>

  </ul>

  

  <form class="chat-window">
    <input placeholder="Input your message here" class="chat-window-message validate" name="chat-window-message" type="text" autocomplete="off" autofocus ng-model="chatCtrl.newChat" />
    <span class="chat-window-btn" style="display: none">
        <button type="submit" class="btn btn-primary" ng-click="chatCtrl.addChat()">Add New</button>
  </span>
  </form>
</div>
  

</div>